.navbar{
    background:#FED800 ;
    max-width: 100%;
    height: 124px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    box-shadow: #583180 10px 5px 15px;
}
.navcontainer{
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 20px;
    color: #583180;
}
.navlogo{
    margin-left: 10px;
    width: 100px;
    height: 100px;
}

.navfont{
    font-family: "Lobster", cursive;
    letter-spacing: 0px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
 
}
.navtext{
    display: block;
    font-size: 20px;
    margin-left: 20px;
}